<div class="paycheck-scenario-compare-list-container">
  <mat-card>
    <h2>General Information</h2>
    <hr>
    <div class="line-item">
      <label for="name">Paycheck Scenario Name</label>
    </div>
    <div class="line-item">
      <label for="date">Check Date:</label>
    </div>
    <div class="line-item">
      <label for="state">State</label>
    </div>
    <div class="line-item">
      <label for="grossPay">Gross Pay:</label>
    </div>
    <div class="line-item">
      <label for="grossPayMethod">Gross Pay Method</label>
    </div>
    <div class="line-item">
      <label for="GrossPayYTD">Gross Pay YTD:</label>
    </div>
    <div class="line-item">
      <label for="payFrequency">Pay Frequency</label>
    </div>
    <div class="line-item">
      <label for="exemptFederal">Exempt Federal</label>
    </div>
    <div class="line-item">
      <label for="exemptFica">Exempt Fica</label>
    </div>
    <div class="line-item">
      <label for="exemptMedicare">Exempt Medicare</label>
    </div>
    <h2>Per-Check Adjustments / Credits</h2>
    <div class="line-item">
      <label for="imputedIncome">Imputed Income</label>
    </div>
    <div class="line-item">
      <label>Adjustment Credit</label>
    </div>
    <h2>Federal Information</h2>
    <hr>
    <div class="line-item">
      <label for="federalFilingStatus">Federal Filing Status</label>
    </div>
    <div class="line-item">
      <label for="numberOfFederalAllowances"># of Federal Allowances</label>
    </div>
    <div class="line-item">
      <label for="additionalFederalWithholding">Additional Federal Withholding</label>
    </div>
    <div class="line-item">
      <label for="roundFederalWithholding">Round Federal Withholding</label>
    </div>
    <h2>State Information</h2>
    <hr>
    <div class="line-item">
      <label for="exemptState">Exempt State</label>
    </div>
    <div class="line-item">
      <label for="stateFilingStatus">Filing Status</label>
    </div>
    <div class="line-item">
      <label for="additionalStateWithholding">Additional State Withholding</label>
    </div>
    <h2>Local Information</h2>
    <hr>
    <div>
      No Locale Information Required
    </div>
    <h2>Voluntary Deductions</h2>
    <hr>
    <!-- <label *ngFor="let deduction of deductions">{{ deduction.deductionName }}</label> -->
  </mat-card>
  <app-paycheck-scenario
    *ngFor="let paycheckScenario of paycheckScenarios"
    [paycheckScenario]="paycheckScenario"
  ></app-paycheck-scenario>
  <button mat-raised-button mat-primary class="add-new-scenario-button" (click)="onAddNewScenario()">Add New Scenario</button>
</div>

