<div class="deduction">
  <label for="label">{{ deduction.deductionName }}:</label>
  <p *ngIf="is401K()">Exmept from state and federal taxes.</p>
  <p *ngIf="isHsa()">Exmept from state, federal, and FICA taxes.</p>
  <p *ngIf="isTraditionalIra()">Exmept from state and federal taxes. Note: </p>
  <label for="deductionAmount">Deduction Amount:</label>
  <input type="number" name="deductionAmount" [(ngModel)]="deduction.deductionAmount">
  <label for="deductionType">Deduction Type:</label>
  <select name="deductionType" [(ngModel)]="deduction.deductionType">
    <option value="PERCENT_OF_GROSS">% of Gross Pay</option>
    <option value="PERCENT_OF_NET">% of Net Pay</option>
    <option value="FIXED_AMOUNT">$ Fixed Amount</option>
    <option value="HOURLY_RATE">$ Hourly Rate</option>
  </select>
</div>
